body{
 background-color: azure;
 font-family: Arial, sans-serif;
 display: flex;
justify-content: center;
padding: 40px 0;
}
h1{
    color:#333;
}
.app-cotainer {
      background-color: white;
      padding: 30px 25px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
      width: 360px;

      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

.input-container {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
    }
     .input-container input {
      flex: 1;
      padding: 8px 12px;
      border-radius: 25px;
      border: 1px solid #ccc;
      outline: none;
    }
    .input-container button {
      padding: 8px 12px;
      border-radius: 25px;
      border: 1px solid #787878;
      cursor: pointer;
      font-weight: bold;
      background-color: honeydew;
      color: #333;
      
    }
ul{
    list-style-type: none;
    padding:0;
}
li{
    background-color: bisque;
    margin:5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.completed{
    text-decoration: line-through;
    color:#333;
}